
@{
    ViewBag.Title = "update_post";
    Layout = "~/Views/Shared/_SearchLayout.cshtml";
}
<br />
<br />
<br />
<br />
<form action="update_post" method="post">
    <br />
    <div class="form-group">
        <label style="color:white; font-size:18px"><strong>بم تفكر</strong></label>
        <textarea placeholder="Enter The Description" name="postdes" class="form-control" rows="10" cols="150" id="comment"></textarea>
    </div>
    <br />
    <button type="submit" class="btn btn-primary btn-lg"  style="height:50px;width:200px;margin-left:550px;" >Update</button>
</form>