
@{
    ViewBag.Title = "sendNotifications";
    Layout = "~/Views/Shared/_SearchLayout.cshtml";
}
<!DocType html>
<html>
<head>

</head>
<body>
    <form id="sign_in" action="sendNotifications" method="POST">
        <div class="form-line">
            <br />
            <center>
                <select class="form-control" name="postdes" style="width: 70%">
                    <option>Select Project Description</option>
                    @foreach (var item in ViewBag.allprojects)
                    {
                        <option class="form-control">@item.Post_Description</option>
                    }
                </select>
            </center>
        </div>
        <br />
        <center>
            <div class="form-group">
                <label for="formGroupExampleInput" style="font-size:20px">Message</label>
                <input style="width: 70%" type="text" class="form-control" name="message" id="formGroupExampleInput" placeholder="Example input" maxlength="40" required>
            </div>
            <button style="padding: 5px 20px 5px 20px; font-size: 17px;margin-bottom: 10px;" type="submit" class="btn btn-primary mb-40">Send</button>
        </center>
    </form>



</body>
</html>
